{% load i18n %}
<li id="monitor">
    <a>
        <i class="fa fa-eye" style="width: 14px"></i> <span class="nav-label">{% trans 'Monitor Center' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
{#以下输入zabbix的访问地址，eg: http://monitor.ops.finrunchain.com#}
        <li id="zabbix"><a href="http://monitor.ops.finrunchain.com/zabbix" target="_blank">{% trans 'Zabbix' %}</a></li>
{#以下输入grafana的访问地址，eg: http://monitor.ops.finrunchain.com:3000#}
        <li id="grafana"><a href="http://monitor.ops.finrunchain.com:3000" target="_blank">{% trans 'Grafana' %}</a></li>
{#        <li id="kafka-manager"><a href="#">{% trans 'Kafka Manager' %}</a></li>#}
    </ul>
</li>